@media screen and (max-width:1300px){
    #home{
        .container{
            .home-content{
                &--left{
                    h1{
                        font-size: 60px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1024px) {
    // header mediaquary start
    header{
        .container{
            .header-content{
                nav{
                    ul{
                        gap: 35px;
                    }
                }
    
                .btn-header{
                    padding: 10px 26px;
                }

            }
    
        }
    
    }   
    // header mediaquary end




    // home mediaquary start
    #home{
        .container{
            .home-content{
                &--left{
                    width: 50%;
                    gap: 26px;
                    h1{
                        font-size: 48px;
                    }
                    p{
                        font-size: 20px;
                    }
                    .btn-home{
                        padding: 8px 18px;
                        font-size: 14px;
                    }
                }

            }
        }
    }
    // home mediaquary end



    // about mediaquary start
    #about{
      .container{
        .about-content{
            &--right{
                h1{
                    font-size: 32px;
                    }
                p{
                    font-size: 16px;
                }
                .btn-about{
                    padding: 10px 22px;
                }
            }
    
        }
      }
    }
    // about mediaquary end





    // service mediaquary start
    #service{
        .container{
            width: 90%;
            margin: 0 auto;

            .grid{
                gap:40px 20px;
                margin-bottom: 260px;
            }
        }
    }


    // service mediaquary end





    // apk mediaquary start
    #apk{
        background-color: #190422;
        .container{
            .apk-content{
                display: flex;
                flex-direction: row;
    
                &--left{
                    width: 70%;
                        margin: 30px 0 20px 0;
                    h1{
                        font-size: 32px;
                        margin-bottom: 14px;
                    }
                    .store{
                        gap: 30px;
                        img{
                            max-width: 80%;
                        }
                    }
                }
    
                &--right{
                    position: relative;
                    width: 30%;
                    .img{
                        position: absolute;
                        bottom: 0;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // apk mediaquary end



    // benefits mediaquary start
    #benefits{
        padding: 50px 0;
        .container{
            .benefits-content{
                align-items: start;
                gap: 90px;
                &--left{
                    img{
                        width: 100%;
                    }
    
                }
    
                &--right{
                    .textbar{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        h1{
                            font-size: 40px ;
                            font-weight: 600;
                        }
                        p{
                            font-size: 18px ;
                            font-weight: 400;
                        }
    
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            li{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                transform: none;
                                font-size: 20px ;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
    // benefits mediaquary end





    // customer mediaquary start
    #customer{
        h1{
            font-size: 18px;
        }
        p{
            font-size: 18px;
        }
        padding: 40px 0;
        .container{
            .customer-content{
                gap: 5px;
                margin: 40px 0;
    
                .cards{
                    gap: 20px;
                    .card{
                        gap: 20px;
                        .text{
                            gap: 14px;
    
                        }
    
                        .person{
                            .text-2{
                                gap: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    // customer mediaquary end





    // footer mediaquary start
    footer{
        .container{
            .footer-content{
                display: flex;
                justify-content: space-between;
    
                &--left{
                    nav{
                        ul{
                            flex-direction: column;
                            align-items: start;
    
                        }
                    }
                }
            }
        }
    }
    // footer mediaquary end
}
























@media screen and (max-width:840px) {
    // header mediaquary start
    header{
        padding: 20px 0;
        .container{
            .header-content{
                nav{
                    display: none;
                }
    
                .btn-header{
                    display: none;
                }

                .menu{
                    display: block;
                }

            }
    
        }
    
    }   
    // header mediaquary end



        // home mediaquary start
        #home{
            .container{
                .home-content{
                    &--left{
                        width: 50%;
                        gap: 26px;
                        h1{
                            font-size: 35px;
                        }
                        p{
                            font-size: 16px;
                        }
                        .btn-home{
                            padding: 8px 18px;
                            font-size: 14px;
                        }
                    }
    
                }
            }
        }
        // home mediaquary end

        // about mediaquary start
    #about{
        .container{
          .about-content{
              &--right{
                  h1{
                      font-size: 30px;
                      }
                  p{
                      font-size: 14px;
                  }
                  .btn-about{
                    font-size: 14px;
                      padding: 8px 18px;
                  }
              }
      
          }
        }
      }
        // about mediaquary end


        // service mediaquary start
    #service{
        .container{
            width: 90%;
            margin: 0 auto;

            .grid{
                gap:40px 20px;
                margin-bottom: 30px;
            }
        }
    }


    // service mediaquary end



        // benefits mediaquary start
        #benefits{
            padding: 50px 0;
            .container{
                .benefits-content{
                    align-items: start;
                    gap: 90px;
                    &--left{
                        img{
                            width: 100%;
                        }
        
                    }
        
                    &--right{
                        .textbar{
                            gap: 16px;
                            h1{
                                font-size: 32px ;
                            }
                            p{
                                font-size: 16px ;
                            }
        
                            ul{
                                gap: 16px;
                                li{
                                    font-size: 18px ;

                                }
                            }
                        }
                    }
                }
            }
        }
        // benefits mediaquary end


}

@media screen and (max-width:650px){
    // footer mediaquary start
    footer{
        .container{
            .footer-content{
                display: flex;
                flex-direction: column;
                gap: 15px;
    
                &--left{
                    nav{
                        ul{
                            flex-direction: column;
                            align-items: start;
    
                        }
                    }
                }
            }
        }
    }
    // footer mediaquary end
} 






@media screen and (max-width:600px) {

        // home mediaquary start
        #home{
            .container{
                width: 95%;
                padding: 50px 0;
                .home-content{
                    flex-direction: column;
                    gap: 20px;
                    &--left{
                        width: 100%;
                        gap: 20px;
                        h1{
                            font-size: 48px;
                        }
                        p{
                            font-size: 20px;
                        }
                        .btn-home{
                            padding: 12px 25px;
                            font-size: 22px;
                        }
                    }
                    &--right{
                        width: 100%;
                    }
    
                }
            }
        }
        // home mediaquary end


                   // about mediaquary start
    #about{
        margin-top: 450px;
        .container{
            width: 95%;
            margin: 0 auto;
          .about-content{
            flex-direction: column;
            gap: 50px;
              &--right{
                width: 100%;
                  h1{
                      font-size: 36px;
                      }
                  p{
                      font-size: 30px;
                  }
                  .btn-about{
                    font-size: 22px;
                      padding: 12px 25px;
                  }
              }
              &--left{
                width: 100%;    
              }
          }
        }
      }
      // about mediaquary end


          // service mediaquary start
    #service{
        .container{
            width: 95%;
            margin: 0 auto; 
            
            .title{
                h1{
                    font-size: 36px;
                }
            }

            .grid{
                display: flex;
                flex-direction: column;
            }
        }
    }


    // service mediaquary end


        // apk mediaquary start
        #apk{
            .container{
                .apk-content{
                    display: flex;
                    flex-direction: column;
                    &--left{
                        width: 100%;
                        margin: 30px 0 20px 0;
                        h1{
                            font-size: 32px;
                            margin-bottom: 14px;
                        }
                        .store{
                            gap: 30px;
                            img{
                                max-width: 80%;
                            }
                        }
                    }
        
                    &--right{
                        width: 100%;
                        .img{
                            position: relative;
                            img{
                                max-width: 50%;
                                object-fit: contain;
                                position: relative;
                                left: 25%;
                            }
                        }
                    }
                }
            }
        }
    
        // apk mediaquary end


                // benefits mediaquary start
                #benefits{
                    padding: 50px 0;
                    .container{
                        .benefits-content{
                            flex-direction: column;
                            align-items: start;
                            gap: 90px;
                            &--left{
                                display: none;
                            }
                
                            &--right{
                                .textbar{
                                    gap: 16px;
                                    h1{
                                        font-size: 36px ;
                                    }
                                    p{
                                        font-size: 20px ;
                                    }
                
                                    ul{
                                        gap: 16px;
                                        li{
                                            font-size: 20px ;
        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // benefits mediaquary end

                    // footer mediaquary start
    footer{
        .container{
            .footer-content{
               &--right{
                .store{
                    img{
                        max-width: 50%;
                    }
                }
               }
            }
        }
    }
    // footer mediaquary end




    #home{
        .container{
            .stat{
                bottom: -30%;
                justify-content: center;
                width: 90%;
                left: 5%;
                text-align: center;
                .cards{
                    padding: 10px 10px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}



@media screen and (max-width:750px){
    #home{
        .container{
            .stat{
                justify-content: center;
                width: 90%;
                text-align: center;
                .cards{
                    padding: 10px 10px;
                    display: flex;
                }
            }
        }
    }
} 