@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

li:active {
  transform: scale(0.9);
  transition: all 0.6s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  background-color: #d7b9fd;
  border-radius: 7px;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #d7b9fd;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.btn:active {
  transform: scale(0.9);
}

.btn:hover {
  background-color: #ae74f9;
}

header {
  background-color: #190422;
  padding: 30px 0;
}
header .container .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-content .logo img {
  max-width: 100%;
}
header .container .header-content nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
header .container .header-content nav ul li a {
  color: white;
}
header .container .header-content .btn-header {
  padding: 12px 28px;
}
header .container .header-content .menu {
  display: none;
}

#home {
  background-color: #190422;
}
#home .container .home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .container .home-content--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: start;
}
#home .container .home-content--left h1 {
  font-size: 80px;
  font-weight: 600;
  color: white;
}
#home .container .home-content--left p {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
#home .container .home-content--left .btn-home {
  font-size: 22px;
  align-items: center;
  padding: 12px 25px;
}
#home .container .home-content--right {
  width: 50%;
}
#home .container .home-content--right img {
  max-width: 100%;
}

#about {
  margin-top: 200px;
}
#about .container .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .container .about-content--left {
  width: 50%;
}
#about .container .about-content--left img {
  width: 100%;
}
#about .container .about-content--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#about .container .about-content--right h1 {
  font-size: 48px;
  font-weight: 600;
  color: black;
}
#about .container .about-content--right p {
  font-size: 20px;
  font-weight: 400;
  color: black;
}
#about .container .about-content--right .btn-about {
  font-size: 22px;
  align-items: center;
  padding: 12px 25px;
}

#service {
  margin: 50px 0 200px 0;
}
#service .container {
  width: 80%;
  margin: 0 250px 0 80px;
}
#service .container .title {
  margin-bottom: 200px;
}
#service .container .title h1 {
  font-size: 32px;
  font-weight: 600;
  color: black;
}
#service .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 170px;
}
#service .container .grid .card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#service .container .grid .card .icon img {
  max-width: 100%;
}
#service .container .grid .card .text h2 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 12px;
}
#service .container .grid .card .text p {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

#apk {
  background-color: #190422;
}
#apk .container .apk-content {
  display: flex;
  flex-direction: row;
}
#apk .container .apk-content--left {
  width: 70%;
  margin: 100px 0 150px 0;
}
#apk .container .apk-content--left h1 {
  font-size: 48px;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
}
#apk .container .apk-content--left .store {
  display: flex;
  justify-content: start;
  gap: 40px;
}
#apk .container .apk-content--right {
  position: relative;
  width: 30%;
}
#apk .container .apk-content--right .img {
  position: absolute;
  bottom: 0;
}
#apk .container .apk-content--right .img img {
  width: 100%;
}

#benefits {
  padding: 50px 0;
}
#benefits .container .benefits-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
#benefits .container .benefits-content--left img {
  width: 100%;
}
#benefits .container .benefits-content--right .textbar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#benefits .container .benefits-content--right .textbar h1 {
  font-size: 48px;
  font-weight: 600;
}
#benefits .container .benefits-content--right .textbar p {
  font-size: 20px;
  font-weight: 400;
}
#benefits .container .benefits-content--right .textbar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#benefits .container .benefits-content--right .textbar ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  transform: none;
  font-size: 20px;
  font-weight: 400;
}

#customer {
  padding: 40px 0;
}
#customer h1 {
  font-size: 20px;
  font-weight: 600;
}
#customer p {
  font-size: 20px;
  font-weight: 400;
}
#customer .container .title {
  text-align: center;
}
#customer .container .customer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}
#customer .container .customer-content .cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}
#customer .container .customer-content .cards .card {
  padding: 24px 24px 34px 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 550px;
}
#customer .container .customer-content .cards .card .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#customer .container .customer-content .cards .card .person {
  display: flex;
  justify-content: space-between;
}
#customer .container .customer-content .cards .card .person .text-2 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

@media screen and (max-width: 1300px) {
  #home .container .home-content--left h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1024px) {
  header .container .header-content nav ul {
    gap: 35px;
  }
  header .container .header-content .btn-header {
    padding: 10px 26px;
  }
  #home .container .home-content--left {
    width: 50%;
    gap: 26px;
  }
  #home .container .home-content--left h1 {
    font-size: 48px;
  }
  #home .container .home-content--left p {
    font-size: 20px;
  }
  #home .container .home-content--left .btn-home {
    padding: 8px 18px;
    font-size: 14px;
  }
  #about .container .about-content--right h1 {
    font-size: 32px;
  }
  #about .container .about-content--right p {
    font-size: 16px;
  }
  #about .container .about-content--right .btn-about {
    padding: 10px 22px;
  }
  #service .container {
    width: 90%;
    margin: 0 auto;
  }
  #service .container .grid {
    gap: 40px 20px;
    margin-bottom: 260px;
  }
  #apk {
    background-color: #190422;
  }
  #apk .container .apk-content {
    display: flex;
    flex-direction: row;
  }
  #apk .container .apk-content--left {
    width: 70%;
    margin: 30px 0 20px 0;
  }
  #apk .container .apk-content--left h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  #apk .container .apk-content--left .store {
    gap: 30px;
  }
  #apk .container .apk-content--left .store img {
    max-width: 80%;
  }
  #apk .container .apk-content--right {
    position: relative;
    width: 30%;
  }
  #apk .container .apk-content--right .img {
    position: absolute;
    bottom: 0;
  }
  #apk .container .apk-content--right .img img {
    width: 100%;
  }
  #benefits {
    padding: 50px 0;
  }
  #benefits .container .benefits-content {
    align-items: start;
    gap: 90px;
  }
  #benefits .container .benefits-content--left img {
    width: 100%;
  }
  #benefits .container .benefits-content--right .textbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #benefits .container .benefits-content--right .textbar h1 {
    font-size: 40px;
    font-weight: 600;
  }
  #benefits .container .benefits-content--right .textbar p {
    font-size: 18px;
    font-weight: 400;
  }
  #benefits .container .benefits-content--right .textbar ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #benefits .container .benefits-content--right .textbar ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    transform: none;
    font-size: 20px;
    font-weight: 400;
  }
  #customer {
    padding: 40px 0;
  }
  #customer h1 {
    font-size: 18px;
  }
  #customer p {
    font-size: 18px;
  }
  #customer .container .customer-content {
    gap: 5px;
    margin: 40px 0;
  }
  #customer .container .customer-content .cards {
    gap: 20px;
  }
  #customer .container .customer-content .cards .card {
    gap: 20px;
  }
  #customer .container .customer-content .cards .card .text {
    gap: 14px;
  }
  #customer .container .customer-content .cards .card .person .text-2 {
    gap: 20px;
  }
}
@media screen and (max-width: 840px) {
  header {
    padding: 20px 0;
  }
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .btn-header {
    display: none;
  }
  header .container .header-content .menu {
    display: block;
  }
  #home .container .home-content--left {
    width: 50%;
    gap: 26px;
  }
  #home .container .home-content--left h1 {
    font-size: 35px;
  }
  #home .container .home-content--left p {
    font-size: 16px;
  }
  #home .container .home-content--left .btn-home {
    padding: 8px 18px;
    font-size: 14px;
  }
  #about .container .about-content--right h1 {
    font-size: 30px;
  }
  #about .container .about-content--right p {
    font-size: 14px;
  }
  #about .container .about-content--right .btn-about {
    font-size: 14px;
    padding: 8px 18px;
  }
  #service .container {
    width: 90%;
    margin: 0 auto;
  }
  #service .container .grid {
    gap: 40px 20px;
    margin-bottom: 30px;
  }
  #benefits {
    padding: 50px 0;
  }
  #benefits .container .benefits-content {
    align-items: start;
    gap: 90px;
  }
  #benefits .container .benefits-content--left img {
    width: 100%;
  }
  #benefits .container .benefits-content--right .textbar {
    gap: 16px;
  }
  #benefits .container .benefits-content--right .textbar h1 {
    font-size: 32px;
  }
  #benefits .container .benefits-content--right .textbar p {
    font-size: 16px;
  }
  #benefits .container .benefits-content--right .textbar ul {
    gap: 16px;
  }
  #benefits .container .benefits-content--right .textbar ul li {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  #home .container {
    width: 95%;
    padding: 50px 0;
  }
  #home .container .home-content {
    flex-direction: column;
    gap: 20px;
  }
  #home .container .home-content--left {
    width: 100%;
    gap: 20px;
  }
  #home .container .home-content--left h1 {
    font-size: 48px;
  }
  #home .container .home-content--left p {
    font-size: 20px;
  }
  #home .container .home-content--left .btn-home {
    padding: 12px 25px;
    font-size: 22px;
  }
  #home .container .home-content--right {
    width: 100%;
  }
  #about {
    margin-top: 450px;
  }
  #about .container {
    width: 95%;
    margin: 0 auto;
  }
  #about .container .about-content {
    flex-direction: column;
    gap: 50px;
  }
  #about .container .about-content--right {
    width: 100%;
  }
  #about .container .about-content--right h1 {
    font-size: 36px;
  }
  #about .container .about-content--right p {
    font-size: 30px;
  }
  #about .container .about-content--right .btn-about {
    font-size: 22px;
    padding: 12px 25px;
  }
  #about .container .about-content--left {
    width: 100%;
  }
  #service .container {
    width: 95%;
    margin: 0 auto;
  }
  #service .container .title h1 {
    font-size: 36px;
  }
  #service .container .grid {
    display: flex;
    flex-direction: column;
  }
  #apk .container .apk-content {
    display: flex;
    flex-direction: column;
  }
  #apk .container .apk-content--left {
    width: 100%;
    margin: 30px 0 20px 0;
  }
  #apk .container .apk-content--left h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  #apk .container .apk-content--left .store {
    gap: 30px;
  }
  #apk .container .apk-content--left .store img {
    max-width: 80%;
  }
  #apk .container .apk-content--right {
    width: 100%;
  }
  #apk .container .apk-content--right .img {
    position: relative;
  }
  #apk .container .apk-content--right .img img {
    max-width: 50%;
    object-fit: contain;
    position: relative;
    left: 25%;
  }
  #benefits {
    padding: 50px 0;
  }
  #benefits .container .benefits-content {
    flex-direction: column;
    align-items: start;
    gap: 90px;
  }
  #benefits .container .benefits-content--left {
    display: none;
  }
  #benefits .container .benefits-content--right .textbar {
    gap: 16px;
  }
  #benefits .container .benefits-content--right .textbar h1 {
    font-size: 36px;
  }
  #benefits .container .benefits-content--right .textbar p {
    font-size: 20px;
  }
  #benefits .container .benefits-content--right .textbar ul {
    gap: 16px;
  }
  #benefits .container .benefits-content--right .textbar ul li {
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
