.btn{
    background-color: #d7b9fd;
    border-radius: 7px;
    font-size: 22px;
    font-weight:500;
    border: 1px solid #d7b9fd;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.btn:active{
    transform: scale(.9);

}

.btn:hover{
    background-color: #ae74f9;
}