#apk{
    background-color: #190422;
    .container{
        .apk-content{
            display: flex;
            flex-direction: row;

            &--left{
                width: 70%;
                    margin: 100px 0 150px 0;
                h1{
                    font-size: 48px;
                    font-weight: 600;
                    color: white;
                    margin-bottom: 40px;
                }
                .store{
                    display: flex;
                    justify-content: start;
                    gap: 40px;
                }
            }

            &--right{
                position: relative;
                width: 30%;
                .img{
                    position: absolute;
                    bottom: 0;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}