#service{
    margin: 50px 0 200px 0;

    .container{
        width: 80%;
        margin: 0 250px 0 80px;
        .title{
            
            h1{
                font-size: 32px;
                font-weight: 600;
                color: black;
                }
                margin-bottom: 200px;
            }

        .grid{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 40px 170px;
            .card{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .icon{
                    img{
                        max-width: 100%;
                    }
                }
                .text{
                    h2{
                        font-size: 20px;
                        font-weight: 600;
                        color: black;
                        margin-bottom: 12px;
                    }
                    p{
                        font-size: 20px;
                        font-weight: 400;
                        color:black;
                    }
                }
            }
        }
    }
}