#about{
    margin-top: 200px;
    position: relative;


  .container{
   
    .about-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--left{
            width: 50%;
            img{
                width: 100%;
            }
        }

        &--right{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            h1{
                font-size: 48px;
                font-weight: 600;
                color:black;
                }
            p{
                font-size: 20px;
                font-weight: 400;
                color: black;
            }
            .btn-about{
                font-size: 22px;
                align-items: center;
                padding: 12px 25px;
            }
        }

    }
  }
}